<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Form</title>
</head>
<body>
    <%= msg %>
    <form action="/buy" method="POST" id="paymentForm">
        <div class="form-group">
          <label for="email">Email Address</label>
          <input type="email" id="email-address" name="email" value="<%= person.email %>" readonly required />
        </div>
        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" name="amount" value="<%= person.amount %>" readonly required />
        </div>
        <div class="form-group">
          <label for="first-name">First Name</label>
          <input type="text" id="first-name" name="firstName" value="<%= person.firstName %>" readonly />
        </div>
        <div class="form-group">
          <label for="last-name">Last Name</label>
          <input type="text" id="last-name" name="lastName" value="<%= person.lastName %>" readonly />
        </div>
        <div class="form-group">
          <label for="ref">Reference</label>
          <input type="text" id="ref" name="ref" value="<%= ref %>" readonly />
        </div>
        <div class="form-submit">
          <!-- <button type="submit" onclick="payWithPaystack()"> Pay </button> -->
          <input type="submit" onclick="payWithPaystack()" value="Pay">
        </div>
      </form>
      
      <script src="https://js.paystack.co/v1/inline.js"></script> 
      <script>
        const paymentForm = document.getElementById('paymentForm');
        paymentForm.addEventListener("submit", payWithPaystack, false);
        function payWithPaystack(e) {
        e.preventDefault();

        let handler = PaystackPop.setup({
            key: 'pk_test_e8e7dffc716ce0c71d3885b3d267add45dcafaf7', // Replace with your public key
            email: document.getElementById("email-address").value,
            amount: document.getElementById("amount").value * 100,
            ref: document.getElementById("ref").value, // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
            // label: "Optional string that replaces customer email"
            onClose: function(){
            alert('Window closed.');
            },
            callback: function(response){
            // let message = 'Payment complete! Reference: ' + response.reference;
            // alert(message);
            console.log({ response })
            window.location = "http://localhost:3600/verify_transaction?reference=" + response.reference;
            }
        });

        handler.openIframe();
        }
      </script>
</body>
</html>