<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <link rel="icon" href="images/favicon.png" type="image/gif" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>AgroTech</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet" />

  <!-- font awesome style -->
  <link href="css/font-awesome.min.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">

  <style>
    body {
      background-color: rgba(169, 169, 169, 0.5);
    }

    table {
      width: 95%;
      border-collapse: collapse;
      margin: auto;
      margin-top: 100px;
    }

    /* Zebra striping */
    tr:nth-of-type(odd) {
      background: rgb(169, 169, 169);
    }

    th {
      background: #3498db;
      color: white;
      font-weight: bold;
    }

    td,
    th {
      padding: 10px;
      border: 1px solid #ccc;
      text-align: left;
      font-size: 18px;
    }

    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {

      table {
        width: 95%;
      }

      tr {
        border: 1px solid #ccc;
      }


    }
  </style>

</head>

<body class="sub_page">

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section ">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/admin">
            <span>
              AgroTech Admin Panel
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  pl-lg-5">
                <li class="nav-item active">
                  <a class="nav-link" href="/products">Products</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/transactions">Transactions <span class="sr-only">(current)</span></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <center>
    <h3>Transactions</h3>
  </center>
  <table id="example" class="display" style="width: 100%;">
    <thead>
      <tr>
        <th>Food Name</th>
        <th>Food price</th>
        <th>Purchased By</th>
        <th>Email</th>
        <th>Date & TIme</th>
      </tr>
    </thead>
    <tbody>
      <% if (transactions.length> 0) { %>
        <% transactions.forEach(transaction=> { %>
          <tr>
            <% const time=new Date(transaction.createdAt).toLocaleString() %>
              <td>
                <%= transaction.productName %>
              </td>
              <td>
                <%= transaction.amount %>
              </td>
              <td>
                <%= transaction.fullName %>
              </td>
              <td>
                <%= transaction.email %>
              </td>
              <td>
                <%= time %>
              </td>
          </tr>
          <% }) %>
            <% } else { %>
              <tr>
                <td>-----</td>
                <td>-----</td>
                <td>-----</td>
                <td>-----</td>
                <td>-----</td>
              </tr>
              <% } %>
    </tbody>
    <tfoot>
      <tr>
        <th>Food Name</th>
        <th>Food price</th>
        <th>Purchased By</th>
        <th>Email</th>
        <th>Date & TIme</th>
      </tr>
    </tfoot>
  </table>
  <br>
  <br>
  <center>
    <h3>Messages</h3>
  </center>
  <table id="example" class="display" style="width:100%">
    <thead>
      <tr>
        <th>Food Name</th>
        <th>Food price</th>
        <th>Purchased By</th>
        <th>Email</th>
        <th>Date & TIme</th>
      </tr>
    </thead>
    <tbody>
      <% if (messages.length> 0) { %>
        <% messages.forEach(message=> { %>
          <tr>
            <% const time=new Date(message.createdAt).toLocaleString() %>
              <td>
                <%= message.name %>
              </td>
              <td>
                <%= message.phone %>
              </td>
              <td>
                <%= message.email %>
              </td>
              <td>
                <%= message.message %>
              </td>
              <td>
                <%= time %>
              </td>
          </tr>
          <% }) %>
            <% } else { %>
              <tr>
                <td>-----</td>
                <td>-----</td>
                <td>-----</td>
                <td>-----</td>
                <td>-----</td>
              </tr>
              <% } %>
    </tbody>
    <tfoot>
      <tr>
        <th>Food Name</th>
        <th>Food price</th>
        <th>Purchased By</th>
        <th>Email</th>
        <th>Date & TIme</th>
      </tr>
    </tfoot>
  </table>

  <br>

  <!-- info section -->
  <section class="info_section">

    <div class="container">
      <div class="contact_nav">
        <a href="">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <span>
            Call : +234 8037718941
          </span>
        </a>
        <a href="">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <span>
            Email : ibrahimauwaly@gmail.com
          </span>
        </a>
        <a href="">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <span>
            No. 51 sabo garba housing estate kabuga janbulo
          </span>
        </a>
      </div>
      <div class="col-md-7 mx-auto px-0">
        <div class="info_form_social_box">
          <h4>
            SIGN UP TO OUR NEWSLETTER
          </h4>
          <form action="">
            <input type="text" placeholder="Enter Your Email" />
            <button type="submit">
              Subscribe
            </button>
          </form>
          <div class="social_box">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end info_section -->


  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="https://html.design/">IB Tech</a>
      </p>
    </div>
  </footer>
  <!-- footer section -->


  <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>
  <!-- Google Map -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
  <!-- End Google Map -->

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

  <script>
    $(document).ready(function () {
      $('table.display').DataTable({ responsive: true })
    })
  </script>

</body>

</html>